# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
tco-venv/
.env

# Streamlit
.streamlit/

# Data files (falls später große CSVs)
*.csv
data/large_files/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log